<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ai.facelogin.face.mapper.FaceDao">

    <!-- 데이터 조회용 ( 벡터 타입 에러 방지 )  -->
    <resultMap id="FaceResultMap" type="FaceVO">
        <id property="faceId" column="face_id" />
        <result property="userId" column="user_id" />
        <result property="faceEncoding" column="face_encoding"
                typeHandler="com.ai.facelogin.config.VectorTypeHandler" />
    </resultMap>


    <insert id="insertFace" parameterType="FaceVO">
        INSERT INTO facevector (
            user_id,
            face_encoding
        ) VALUES (
         #{userId},
         #{faceEncoding} )
    </insert>

</mapper>