<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ai.facelogin.users.mapper.UsersDao">
    <!--아이디 중복여부 디비 조회쿼리 -->
    <select id="countByUserIdStr" resultType="int" parameterType="">
        SELECT COUNT(*) FROM users
        WHERE user_id_str = #{userIdStr}
    </select>
    <!--이메일 중복여부 디비 조회쿼리 -->
    <select id="countByEmail" resultType="int">
        SELECT COUNT(*) FROM users
        WHERE email = #{email}
    </select>
    <!--회원가입 전체 데이터 추가쿼리 -->
    <insert id="insertUser" parameterType="UserVO">
        insert into users
            (
                user_id_str,
                email,
                username,
                gender,
                agree_state
            ) values
            (
                #{userIdStr},
                #{email},
                #{username},
                #{gender},
                #{agree_state}
           )
    </insert>

</mapper>