<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ai.facelogin.users.mapper.UsersDao">
    <!--아이디 중복여부 디비 조회쿼리 -->
    <select id="countByUserIdStr" resultType="int" >
        SELECT COUNT(*) FROM users
        WHERE user_id_str = #{userIdStr}
    </select>
    <!--이메일 중복여부 디비 조회쿼리 -->
    <select id="countByEmail" resultType="int">
        SELECT COUNT(*) FROM users
        WHERE email = #{email}
    </select>
    <!--회원가입 전체 데이터 추가쿼리 -->
    <insert id="insertUser" parameterType="UserVO" useGeneratedKeys="true" keyProperty="userId">
        insert into users
            (
                user_id_str,
                email,
                agree_state
            ) values
            (
                #{userIdStr},
                #{email},
                #{agreeState}
           )
    </insert>

</mapper>

<!--
    <insert id="insertUser" parameterType="UserVO" useGeneratedKeys="true" keyProperty="userId">
    1) useGeneratedKeys 속성을 설정하여 insert 할 경우 keyProperty의 속성값을 같이 가져옴 (객체의 동기화와 네트워크비용감속)
-->