<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ai.facelogin.users.mapper.UsersDao">

    <!-- userTable 과 faceTable 객체 1:1 관계  -->
    <!-- 기준 테이블 최종반환타입 : type = "UserVO"    -->
    <resultMap id="usersInfoMap" type="UserVO">
        <id property="userId" column="user_id"/>
        <result property="userStrId" column="user_id_str"/>
        <result property="email" column="email"/>
        <result property="agreeState" column="agree_state"/>
        <result property="userRole" column="user_role"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="description" column="description"/>
        <result property="status" column="status"/>
        <!--  조인되는 대상 테이블  조인대상타입: javaType= "FaceVO"  -->
        <association property="faceVO" javaType="FaceVO">
            <id property="faceId" column="face_id"/>
            <result property="userId" column="user_id"/>
            <result property="faceEncoding" column="face_encoding"
                    typeHandler="com.ai.facelogin.config.VectorTypeHandler"/>
            <result property="createdAt" column="created_at"/>
            <result property="updatedAt" column="updated_at"/>
            <result property="description" column="description"/>
        </association>
    </resultMap>

    <!-- 회원가입 시 저장된 얼굴이미지 조회  -->
    <select id="selectUserLoginInfo" resultMap="usersInfoMap">
        select
            u.user_id,
            u.user_id_str,
            u.email,
            u.agree_state,
            u.created_at,
            u.updated_at,
            u.description,
            u.status,
            u.user_role,
            f.face_encoding
        from users u left join facevector f
                               on ( u.user_id = f.user_id)
        where u.user_id_str = #{userStrId}
    </select>

    <!--사용자 이메일 조회-->
    <select id="selectUserEmail" resultType="String">
        SELECT email FROM users
        WHERE user_id_str = #{userStrId}
    </select>

    <!--아이디 중복여부 디비 조회쿼리 -->
    <select id="countByUserStrId" resultType="int" >
        SELECT COUNT(*) FROM users
        WHERE user_id_str = #{userStrId}
    </select>
    <!--이메일 중복여부 디비 조회쿼리 -->
    <select id="countByEmail" resultType="int">
        SELECT COUNT(*) FROM users
        WHERE email = #{email}
    </select>
    <!--회원가입 전체 데이터 추가쿼리 -->
    <insert id="insertUser" parameterType="UserVO" useGeneratedKeys="true" keyProperty="userId">
        insert into users
            (
                user_id_str,
                email,
                agree_state

            ) values
            (
                #{userStrId},
                #{email},
                #{agreeState}

           )
    </insert>

    <select id="authenticateFace" resultType="Double">
        <![CDATA[
            SELECT
                (f.face_encoding <=> CAST(#{newVector} AS vector)) as distance
            FROM users u
                     LEFT JOIN facevector f ON u.user_id= f.user_id
            WHERE u.user_id_str = #{userStrId}
        ]]>
    </select>

    <update id="updateUserStatus" parameterType="String">
        update users
            set status = 'WITHDRAW',
                agree_state='false',
                updated_at=now()
        where user_id_str =#{userStrId} and status = 'ACTIVE'
    </update>

    <delete id="deleteUserVectorImage" parameterType="String">
        delete
        from facevector
        where
            user_id = (select user_id from users where user_id_str = #{userStrId})
    </delete>


</mapper>

<!--
    <insert id="insertUser" parameterType="UserVO" useGeneratedKeys="true" keyProperty="userId">
    1) useGeneratedKeys 속성을 설정하여 insert 할 경우 keyProperty의 속성값을 같이 가져옴 (객체의 동기화와 네트워크비용감속)
-->