:root{
    --title-font:'NanumHuman',sans-serif !important;
    --title-circle-bullet:#333;
    --basic-border-bottom: 1px solid #eee;
    --basic-border-top: 1px solid #eee;
    --layout-middle-padding:  30px;
    --layout-small-padding:  10px;
    --content-margin:  40px 0 ;
    --content-min-height: 600px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, button {
    font-family: 'TheJamsil',sans-serif !important;
}
/*common*/

html,body,
header,.header-inner,
footer,.footer-inner,
.content,.content-inner{position: relative;width: 100%;}
.header-inner,.footer-inner,.content-inner{max-width: 650px;}
header,footer, .content{display: flex; width: 100%; justify-content: center; align-items: center;}
body{background:#fff}
header,footer{background-color: #eccccf}
.content-inner,.header-inner,.footer-inner{padding:var(--layout-middle-padding);}



/*title*/
.title,[class*='title'],.form-title,.col-form-label{
    display: inline-flex;
    font-family:var(--title-font); }

/*form*/
.row{margin-left:auto;margin-right:auto;}
.form-title,.col-form-label,.form-main-title{position:relative;}
.col-form-label{font-size: 1rem;font-weight: bold;}
.col-form-label:before{
    content:'';
    display:inline-flex;
    width:8px;
    height:8px;
    min-width: 8px;
    min-height: 8px;
    align-self: center;
    background-color: var(--title-circle-bullet);
    border-radius:50%;
    margin-right: 11px;
}

.form  .h5 {  padding: 20px 0;
    border-bottom: var(--basic-border-bottom);
    border-top: var(--basic-border-top);
}
.form fieldset:not(:first-of-type) .h5{margin: 20px 0;}
.form fieldset:first-of-type .h5{margin-bottom: 20px;}
/*icon*/
.icon{display:inline-flex; width: 30px; height: 30px; align-self: center; }

/*button*/
.button-group{display: flex; align-items: center; justify-content: center;}
.button-group button{margin: 0 5px;}



/*header*/
.header-inner{text-align:center;padding: 30px}
.header-inner h1{display: inline-block}

/*footer*/



/*content*/
.content,content-inner{min-height: var(--content-min-height);}


.form-main-title{display:flex;justify-content:center;align-items:center;}

.content{margin:var(--content-margin)}
.content-inner{border-top:var(--basic-border-top); border-bottom:var(--basic-border-bottom);
    border-top-color: #0a3622;border-bottom-color: #0a3622;
}


/*face_Cam*/
/*얼굴 인식정보 동의하면 열림*/
.face-filed{
    text-align: center;
}
.apply-face_container{
    padding: 20px;
    max-width: 350px;
    max-height: 430px;
    width:100%;
    min-height: 350px;
    /* height: 100%; */
}




.apply-face_container{
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:100%;
    /* height: 100%; */
    background-color: #fff;
    border:2px solid #eee;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    z-index: 88;
}
.face-con{
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden
}
.face-con .con-inner{width: 100%;height: 300px;margin-bottom: 20px;/* border:2px solid #eee; *//* border-radius: 10px; *//* overflow: hidden; */}

/*타임스피너 */

.spinner {
    width: 50px;
    height: 50px;
    animation: rotate 2s linear infinite;
}

.spinner circle {
    stroke: #3498db; /* 스피너 색상 */
    stroke-linecap: round; /* 선 끝을 둥글게 */
    stroke-dasharray: 100; /* 원의 둘레를 기반으로 설정 */
    stroke-dashoffset: 25; /* 원의 1/4을 숨겨서 모양 생성 */
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% { transform: rotate(360deg); }
}

@keyframes dash {
    0% { stroke-dashoffset: 100; }
    50% { stroke-dashoffset: 25; }
    100% { stroke-dashoffset: 100; }
}


/*얼굴등록 버튼 누르면 얼굴촬영 UI 출력*/
.face-con video{width: auto;height: auto;}
#canvas{
    border-radius: 10px;
    border: 1px solid #333;
    padding: 7px;
    max-width: 300px;
    max-height: 300px;

    width:100%;
    height:100%;
    display: inline-block;
    overflow: hidden;
}
#canvas .canvas-face_img{
    width: 100%;height:auto;border-radius: 4px;object-fit: cover;}
.apply-face_container .face-con video{width: 100%;height: 100%;}

#otp_valid,.register
#face-btn,.apply-face_container,.face-con video{display:none;}
#otp_valid.block,
#face-btn.block,.apply-face_container.open,.face-con video.open{display: inline-block;}
.otp-text{text-align:center; margin: 25px 0px; padding: 10px; border:1px solid #ddd}

#otp-btn_box{position: relative;}


#reset-otp,
#confirm_otp,#canvas,.hidden-face_img{
    opacity: 0;
    visibility: hidden; /* 클릭 방지 + 리스너는 보존 */
    position: absolute; top:0;left:0; right:0; bottom: 0;
    z-index: 1;
}
#confirm_otp.show-btn,
#reset-otp.show-btn,
#canvas.open{
    opacity: 1;
    visibility: visible; /* 다시 클릭 가능 */
    position:static;
    z-index: 3;
}




@media screen and (max-width: 610px) {
    .content{padding:var(--layout-middle-padding);}
}

@media screen and (max-width: 500px) {
    .apply-face_container {min-height: 300px;}
    .face-con .con-inner{height: 200px;}
}

@media screen and (max-width: 400px) {
    .content {
        padding: var(--layout-small-padding);
    }
}