.login .form-main-title {margin-bottom: 30px;}
.login .content-inner{position: unset}
.login .apply-face_container{height:500px;max-width: 500px}
.login .face-con {margin-bottom: 20px;
    height: 90%;}
.login .face-btn{display: inline-block}
